.div{
	width: 1170px;
	background-color: rgb(255, 255, 255, 0.5);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto; 
	box-shadow: 11px 11px 16px 0px red;
	position: fixed;
	z-index: 4;
	left: 150px;
}
.logo-html1{
	width: 200px;
}
.navigation-li{
	 margin: 10px;
    font-size: 25px;
}
.navigation-ul{
	display: flex;
}
.social-ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.fa-facebook{
	font-size: 30px;
}
.fa-google{
	font-size: 30px;
}
.fa-youtube{
	font-size: 30px;
}
.social-li:after{
	content: "";
	width:2px;
	display: inline-block;
	height: 30px;
	margin: 0 15px;
	background-color: blue;
	vertical-align: top;

}
.social-li:last-child:after{
	display: none;
}
.bike{
	width: 300px;
	height: 192px;
	margin-left: 150px;

}
.divaider{
	width: 1170px;
	margin: 0 auto;
	padding-top: 60px;
}
.bi{
	background-image:url(../img/motoo.jpeg);
	width: 1170px;
	height: 500px;
	    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.mapdiv{
	width: 1170px;
	margin: 0 auto;
	padding-top: 10px;
}
iframe{
	width: 100%
}
.section2{
	background-color: #363E97;
	padding-bottom: 90px;
	padding-top: 30px;
}
.section-div2-2 h2{
	font-size: 28px;
	color: #fff;
	margin-bottom: 30px;
}
.diva{
	width: 570px;
	height: 320px;
	background-color: #fff;
}
.diva p{
	text-align: center;
	margin-top: 150px;

}
.dia{
	    display: flex;
     justify-content: space-between; 
    width: 1170px;
    margin: 0 auto;
}
